.DS_Store
.gradle
.claude
.idea
build

components/Gemfile.lock
mo_build
mo_build_cr
bundle.js

compiler/lib
compiler/mochi
compiler/mochi.dwarf
compiler/motestproj
compiler/build
compiler/src/generated
/compiler/src/sorbet/test_simple.dwarf
compiler/**/*.md

devground/a
devground/bundle.js
devground/bundle.min.js
devground/public/bundle_cli.js
devground/opal-runtime.js
devground/public/runtime.js
devground/components.js

e2e/node_modules
e2e/test-results
e2e/playwright-report

testapp/package-lock.json
testapp/node_modules

fragments/libs/lib*.a
*.pftrace


todo/
done/
inprogress/
