@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/noto-sans/NotoSans-VariableFont_wdth,wght.ttf') format('truetype-variations');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/noto-sans/NotoSans-Italic-VariableFont_wdth,wght.ttf') format('truetype-variations');
    font-weight: 100;
    font-style: italic;
}

* {
    font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

html {
}

body {
    font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 20px;
}

a:link, a:visited, a:active {
    color: #333;
}
a:hover {
    color: blue;
}
